<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Edition</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/knacss.css">
	</head>

	<body>

		<section>



			<div class="grid-12">


				<div class="three-quarters part">

					<div class="container w100" id="navelement">
						<div><p>Texte</p></div>
						<div><p>Image</p></div>
					</div>

				</div>

				<div class="one-quarter part">

					<div class="center w100p" id="newelement">
						<button onclick="location.href='newelement';">Nouvel élément</button>
					</div>

				</div>


			</div>



			<div class="grid-12">


				<div class="three-quarters part">
					<div id="frame">
					</div>
				</div>


				<div class="one-quarter part">

					<div class="container" id="properties">
						<em>Propriétés</em>
					</div>

					<div class="center w200p" id="generate">					<div class="center w100p"><button class="w100p">Générer l'URL</button></div>
						<input class="w100" />
					</div>

				</div>


			</div>



		</section>

	</body>

	<script src="/socket.io/socket.io.js"></script>
	<script>

		//Connexion socket.io
		var socket = io.connect('http://localhost:3000');

		//Détermine si le clic de la souris est enfoncé ou non (0 ou 1)
		var mousedown = 0;
		//Garde en mémoire la position de la souris actuelle
		var posMouse = [];
		//Garde en mémoire les éléments de la scène sélectionnés
		var selected = [];

		var frame = document.getElementById("frame");
		var navelement = document.getElementById("navelement");

		navelement.onclick = function() {
			addElement(event);
		}

		frame.onmousedown = function(event) {
			mousedown = 1;
			posMouse = [event.pageX, event.pageY];
			selectElements(event);
		}

		frame.onmouseup = function() {
			mousedown = 0;
		}

		frame.onmousemove = function() {
			if(mousedown)
				moveElements(event);
			posMouse = [event.pageX, event.pageY];
		}

		//Crée un nouvel élément à partir de la sélection dans la barre des éléments
		function addElement(event)
		{
			var elmnt = document.elementFromPoint(event.pageX, event.pageY);

			if (elmnt != document.getElementById("navelement"))
			{
				var newElmnt = document.createElement("div");
				newElmnt.className = "element";
				var frameStyle = window.getComputedStyle(frame),
					frameWidth = parseInt(frameStyle.getPropertyValue('width')),
					frameHeight = parseInt(frameStyle.getPropertyValue('height')),
				//Configuration exemple, à remplacer par des données tirées du JSON
					width = 50,
					height = 50;
				newElmnt.innerHTML = "<p>" + elmnt.innerHTML + "</p>";

				newElmnt.style.backgroundColor = "#888888";
				//L'élément se positionne par défaut au milieu de la scène.
				newElmnt.style.left = (frameWidth/2 - width/2) + "px";
				newElmnt.style.top = (frameHeight/2 - height/2) + "px";
				newElmnt.style.width = width + "px";
				newElmnt.style.height = height + "px";
				newElmnt.style.position = "absolute";
				frame.appendChild(newElmnt);
			}
		}

		//Sélection d'un ou plusieurs éléments. Lorsqu'un élément est sélectionné, il est en avant-plan avec une bordure.
		function selectElements(event)
		{
			var elmnt = document.elementFromPoint(event.pageX, event.pageY);
			var is_selected = false;
			//On cherche à sélectionner un élément de la scène. Si l'on clique sur un de ses enfants, on remonte jusqu'à trouver l'élément dans sa globalité.
			if(elmnt != document.getElementById("frame"))
				while(elmnt.className != "element")
					elmnt = elmnt.parentElement;

			//La touche alt sert à la multi-sélection.
			if(event.altKey)
			{
				//Si elle est enfoncée on vérifie que l'élement sous la souris n'est pas déjà sélectionné.
				var i = 0;
				while(!is_selected && i < selected.length)
					if(elmnt == selected[i++])
						is_selected = true;
			}
			else
			{
				//Sinon on désélectionne tous les éléments.
				for(var i = 0; i < selected.length; i++)
				{
					selected[i].style.border = "0px";
					selected[i].style.zIndex = selected[i].style.zIndex.substring(3);
				}
				selected = [];
			}

			//S'il y a un élément sous la souris, on le sélectionne.
			if(elmnt != document.getElementById("frame") && !is_selected)
			{
				elmnt.style.border = "2px solid purple";
				elmnt.style.zIndex = "100" + elmnt.style.zIndex;
				selected[selected.length] = elmnt;
			}
		}

		//Déplacement des éléments sélectionnés.
		function moveElements(event)
		{
			//Grâce à la différence entre l'ancienne et la nouvelle position de la souris
			xmove = event.pageX - posMouse[0];
			ymove = event.pageY - posMouse[1];
			//On déplace tous les éléments sélectionnés
			for(var i = 0; i < selected.length; i++)
			{
				var style = window.getComputedStyle(selected[i]),
					left = parseInt(style.getPropertyValue('left')),
					top = parseInt(style.getPropertyValue('top'));
				selected[i].style.left = left + xmove + "px";
				selected[i].style.top = top + ymove + "px";
			}
		}

	</script>

</html>