<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PTUT</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/knacss.css">
	</head>

	<body>


		<section>

			<div class = "txtcenter">
				<h1>Outil de diffusion d'information</h1>
			</div>

			<div class="grid-12">

				<div style="width: 30%" class="center menu ">
					
					<div class="flex-container" style="height: 200px;">
  					<span class="item-center">
  						<a href="edition">Edition</a>
  					</span>
					</div>
				</div>

				<div style="width: 30%" class="center menu ">
					
					<div class="flex-container" style="height: 200px;">
  					<span class="item-center">
  						<a href="Afficheur">Afficheur</a>
  					</span>
					</div>
				</div>

			</div>

		</section>

		<script type="jquery.js"></script>
		<script>
		var socket = io.connect("http://localhost:3000");
		</script>

	</body>

</html>