<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PTUT</title>
		<link rel="stylesheet" href="/stylesheets/style_menu.css">
		<link rel="stylesheet" href="stylesheets/materialize/css/materialize.css">
	</head>


	<body class="grey">
		

			 <nav>
			    <div class="nav-wrapper light-green">
			      <a href="#" class="brand-logo center ">Outil de diffusion d'information</a>
			     
			    </div>
			 </nav>

			<div class="container ">
				<h3>Mes scènes</h3>
				<a class="waves-effect waves-light btn light-green" href="edition">Créer</a>

				<div class="row white">
					
			









				</div>
			</div>


		<footer class="page-footer light-green ">
			
          <div class="container">

            <h5 class="valign-wrapper"> <img class="left-align" src="/img/logo.png" style="width: 270px; height: 100px;" > IUT Aix-Marseille site d'Arles, année universitaire 2017-2018 </h5>
            <p> projet tutoré encadré par M.DESBENOIT, réalisé par Martin ALLERME, Luca BENEZIT, Xavier GARCIA, Jean-Pierre GUIRAUD, Simon JAYET, Christopher TAILLANDIER </p>
            <br/>
          </div>
        </footer>

		<script type="jquery.js"></script>
		<script>
		var socket = io.connect("http://localhost:3000");
		</script>

	</body>

</html>