<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>New Element</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/knacss.css">
	</head>

	<style>
		.border
		{
			border: 2px solid black;
		}
	</style>

	<body>
		<div style="padding: 50px;">
			<form class="grid-12">
				<div class="three-quarters">
					<div class="center w800p" style="padding: 10px;">
						<label>Code HTML de l'élément</label><br />
						<textarea rows="40" cols="100"></textarea>
					</div>
				</div>
				<div class="one-quarter">
					<div class="border" style="height: 1000px; padding: 5px;">
						<label>Nom de l'élément</label>
						<input />
						<button>Sauvegarder</button>
					</div>
				</div>
			<form>
		</div>
	</body>

</html>