<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Scene2</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/knacss.css">
		<style>
            #zone_text{
                color: black;
                background-color: white;
                padding: 2px;
                border: 1px solid black;
            }
        </style>
	</head>
	<body>

		<section id="zone_text">
			<br/>
			<p> Zone de texte </p>
		</section>
	
	</body>

	<script type="text/javascript">
		
		
		
	</script>
	
</html>