<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Scenes</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/knacss.css">
	</head>
	<body>
		<section>

            <div class = "txtcenter">
                <h1>Liste des scenes</h1>
            </div>

            <div class="grid-12">

                <div style="width: 30%" class="center menu ">
                    
                    <div class="flex-container" style="height: 200px;">
                    <span class="item-center">
                        <a href="scene1">Scene 1</a>
                    </span>
                    </div>
                </div>

                <div style="width: 30%" class="center menu">
                    
                    <div class="flex-container" style="height: 200px;">
                    <span class="item-center">
                        <a href="scene2">Scene 2</a>
                    </span>
                    </div>
                </div>

            </div>

        </section>


	
	</body>
	
</html>