*
{
	box-sizing: border-box;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

::selection
{
	background: rgba(0,0,0,0);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
	text-decoration: none;
}

.part
{
	padding: 10px;
}

.container
{
	border: 2px solid black;
	padding: 5px;
}

#navelement
{
	height: 100px;
	display: inline-flex;
	white-space: nowrap;
	overflow: auto;
}

#navelement > div
{
	width: 86px;
	height: 86px;
	margin-right: 5px;
	border: 2px solid black;
	padding: 5px;
	background-color: #888888;
}

#navelement >div:last-child
{
	margin-right: 0;
}

#newelement > button
{
	height: 100px;
}

#frame
{
	position: relative;
	border: 2px solid black;
	height: 500px;
}

.object
{
	outline: none;
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #888888;
}

#example1
{
	left: 50px;
	top: 50px;
}

#example2
{
	left: 25px;
	top: 25px;
}

#lel
{
	left: 100px;
	top: 100px;
}

#properties
{
	height: 400px;
}

#generate
{
	margin-top: 10px;
}

#generate > div
{
	margin-bottom: 5px;
}